{block content}
<div>
	<h1 n:block=title>Registrace firmy</h1>
</div>

<div id="content">
	<hr />
	<h2>Předvyplnění údajů podle IČO</h2>
	{control inForm}
	<hr />
	<h2>Registrace firmy</h2>
	{control registrationForm}
	<hr />
</div>

{/block}