services:
    # routing
    - App\Router\RouterFactory::createRouter

    # form factories
    - App\Forms\CompanyRegistration\ICompanyRegistrationFormFactory

    # services
    - App\Services\CompanyRegistration\CompanyRegistrationSessionService
